In [73]:
import pandas as pd
df = pd.read_csv("gpa.csv")

In [78]:
group = df.groupby("Subject")
group = group.agg("sum").reset_index()
group = group.nlargest(5, "B")
group

,Subject,Year,Number,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W
105,MATH,3951142,606935,9720,25074,16157,16442,22554,13336,11478,13799,7051,4048,5107,2105,6563,1323
37,CHEM,3126162,282872,9759,38674,15498,15847,21077,12242,11048,13343,7108,3388,3713,1877,3384,987
127,PSYC,2765150,316661,6306,22977,8349,8556,17413,5428,3981,8046,1781,1063,2080,455,1933,448
52,ECON,5535028,663026,11201,23537,13340,12811,17276,7704,5686,7517,3089,1970,2591,1106,2906,640
46,CS,3053048,438120,13350,35107,16195,12434,15404,7381,5222,6611,2827,1472,2579,835,2872,710